.navbar {
    border: 0;
}

#logo {
    font-size: 33px;
    color: rgb(239, 229, 229);
    font-weight: 550;
    font-family: 'Arial Narrow Bold', sans-serif;
    letter-spacing: -1.2px;



}

#menubar {

    padding: 4% 1% 0% 12.9%;
    font-size: 20px;
}


.abouttindog,
.container-fluid {
    background-color: rgb(253, 70, 101);
}

ul {
    list-style-type: none;
    padding-right: 14%;
    padding-left: 10%;
    margin-left: min(220px);
}

li a {
    color: rgb(239, 229, 229);
    padding: 17px 2px;
    float: right;
    padding-left: 3.6%;
    font-family: Ubuntu;

}

li a:hover {
    background-color: rgb(237, 230, 230);
}

header {
    margin-bottom: -20px;
}


/* ===about tin dog 1======== */

#abouttindog {
    padding: 55px 12.5% 0% 13.9%;
    height: 20%;



}

h1 {
    color: rgb(239, 229, 229);
    font-size: 330%;
    font-family: Ubuntu;
    font-weight: 500;
    letter-spacing: .7px;
    word-spacing: 1px;
    line-height: 150%;



}



.box1 {
    float: left;
    width: 45%;
    text-align: left;
    /* height: 100px; */
    /* outline: 3px solid red; */

}

.box2 {
    float: right;
    width: 30.4%;

    /* outline: 3px solid red; */
    transform: rotate(21deg);
    margin-right: 1%;
    /* margin-top: 1%; */
    object-fit: cover;

}

.img-iphone {

    min-width: 210px;
    max-width: 220px;
    margin-left: min(15px);
    object-fit: cover;
    /* border: 5px solid black; */
    padding-top: 9%;

}

.buttons {
    padding-top: 10%;



}

button {
    letter-spacing: 1.2px;
    font-family: sans-serif;

}

#button1 {
    background-color: #292b29;
    color: white;

}

#button2 {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-left: 12px;

}

.divider {
    margin-top: -7.2%;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 70%;

}

.abouttindog1 {


    position: relative;
    margin-top: -3.2%;
    background-color: white;
    width: 100%;
    height: 70%;

}

.icons {
    color: rgb(255, 127, 105);
    font-size: 29px;


}

h4 {
    padding-top: 10px;
    color: rgb(85, 80, 80);
    font-size: 23px;
    font-weight: 600;
    font-family: ubumtu;
}

.description {

    color: rgb(126, 122, 122);
    font-size: 22px;
    font-weight: 500;
    font-family: arial;
}

/* ======about tin dog 2======== */

.abouttindog2 {
    background-color: rgb(255, 127, 105);
    width: 100%;
    padding-left: 0;
    margin-top: 6%;
    position: relative;


}

.tindogdescription {
    text-align: center;
    font-family: Ubuntu;
    padding-top: 10px;
    padding-left: 13%;
    padding-right: 13%;
    color: white;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 150%;
    font-size: 35px;
}

.arrow {
    margin-top: 10%;
    font-size: 30px;

}

a {
    color: whitesmoke;
}

.img-dog {
    border-radius: 50%;
    max-width: 8%;
    max-height: 8%;
    margin-left: 39%;
    margin-top: 1%;
    display: inline-flex;
}

.prc {
    display: inline-flex;

    font-style: italic;
    color: white;
    padding-left: 20px;

}

.sponsor {

    margin: 13% 9% 10%;



}

.sponsors {
    height: 35x;
    width: 130px;

}



.sp4 {
    margin-top: 2px;
    height: 25px;
    width: 150px;
}



.pricing {
    text-align: center;
    padding-top: 6%;
    color: rgb(12, 12, 12);
    padding-bottom: 5%;
    border: 2px solid rgb(161, 33, 33);
    padding-left: 15%;
    padding-right: 15%;
}

.prce {


    font-style: italic;
    color: rgb(164, 164, 154)
}

.pricecard {

    margin-left: 1%;
    margin-right: 0%;
    width: 270px;
    margin-top: 2%;

}

.card-body {
    border: 2px solid rgb(240, 233, 233);
    color: rgb(183, 177, 167);

}

.card-header {
    border: 2px solid rgb(240, 233, 233);
    background-color: rgb(242, 243, 247);

}

h2 {
    color: #292b29
}

.signup {
    width: 90%;
    margin-top: 7px;
    margin-bottom: 10px;
    background-color: #2a2c2a;

}

.signup:hover {
    color: white;
}

.white:hover {
    color: black;
}

.white {
    background-color: white;
    border: 1px solid #292b29;
}